
@{
    ViewBag.Title = "AddOnlineTrip";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<head>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

            $("#btnDriver").on('click', function () {

                var atc = $("#atc").val();
                var trip = $("#txtDriver").val();



                var msg = "";
                
                if (trip == "") { msg = "Please enter Trip ID! \n"; }
                if (atc == "") { msg += "Please enter ATC name!"; }
                if (trip.length != 10) { msg += "Trip ID must be 10 digits! \n"; }
                if (!/^[0-9]+$/.test(trip)) { msg += "Trip ID must be numbers only! \n"; }


                if (msg != "") {
                    alert(msg);


                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoUpdateOnlineTrip", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,
                            trip: trip,

                        },
                        error: function (data) {
                            debugger;
                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);

                            }
                            else {
                                alert('Online Trip Added successfully');
                                $("#atc").val("");
                                $("#txtDriver").val("");
                                 var url = "";
                                url = '@Url.Action("AddOnlineTrip", "Home")'; //Default

                                //window.open(url, "_self");

                            }

                        },


                    });





                 }, 200);
            });

        });

    </script>

    <div class="container">
        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span>TRIP Validation For ATC</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" id="submit_form">
                    @Html.AntiForgeryToken()
                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">ENTER ATC*</label>
                            <div class="mws-form-item">
                                <input type="text" id="atc" placeholder="enter ATC..." class="large">
                            </div>
                        </div>

                    </div>

                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">ENTER ONLINE TRIP ID*</label>
                            <div class="mws-form-item">
                                <input type="number" id="txtDriver" placeholder="enter Online Trip..." class="large">
                            </div>
                        </div>

                    </div>
                    <div class="mws-button-row">

                        <button id="btnDriver" class="btn btn-primary" type="button"><i class="fa fa-key"></i> ADD ONLINE TRIP</button>


                    </div>
                </form>
            </div>
        </div>




    </div>

</body>

