
@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<head>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

            //$("#atc").val("");

            $("#btnDriver").on('click', function () {

                //var grade = "42.5R,50KG BAGGED CEM2 OBA LINE 1&2";
                var atc = $("#atc").val();
                var driver = $("#txtDriver").val();



                var msg = "";
                if (atc == "") { msg = "Please enter ATC! \n" ; }
                if (driver == "") { msg += "Please enter drivers name!"; }


                if (msg != "") {
                    alert(msg);


                    return false;
                }

                //var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoUpdateDriver", "Home")',
                        async: true,
                        data: {
                            //__RequestVerificationToken: token,
                            atc: atc,
                            driver: driver,

                        },
                        error: function (data) {
                            debugger;
                            //console.log(data);
                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);
                           
                            }
                            else {
                                alert('Driver Updated successfully');
                                $("#atc").val("");
                                $("#txtDriver").val("");
                                 var url = "";
                                url = '@Url.Action("Driver", "Home")'; //Default
                           
                                //window.open(url, "_self");

                            }

                        },


                    });





                 }, 200);
            });

        });

    </script>

    <div class="container">
        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span>DRIVER Update for ATC</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" id="submit_form">
                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">ENTER ATC*</label>
                            <div class="mws-form-item">
                                <input type="text" id="atc" placeholder="enter ATC..." class="large">
                            </div>
                        </div>

                    </div>

                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">ENTER DRIVERS NAME*</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtDriver" placeholder="enter drivers name..." class="large">
                            </div>
                        </div>

                    </div>
                    <div class="mws-button-row">

                        <button id="btnDriver" class="btn btn-primary" type="button"><i class="fa fa-key"></i> UPDATE DRIVER</button>


                    </div>
                </form>
            </div>
        </div>

        


    </div>

</body>



