
@{
    ViewBag.Title = "MaterialReport";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<head>


</head>


<body>

    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script src="~/Scripts/moment.js"></script>




    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {


            $("#btnSpool").on('click', function () {

                var fromDate = $("#dateFrom").val();
                var toDate = $("#dateTo").val();
                //var trxType = $("#drpTrxType").val();
                var product = $("#txtProduct").val();

                var msg = "";
                if (fromDate == "") { msg = "Please select a from date! \n"; }
                if (toDate == "") { msg += "Please select a to date!"; }

                if (msg != "") {
                    alert(msg);


                    return false;
                }

                if (new Date(fromDate) > new Date(toDate)) {
                    alert('from date cannot be higher than to date');

                    return false;
                }

                $("#gateTable").hide();

                const diffInMs = new Date(toDate) - new Date(fromDate)
                const diffInDays = diffInMs / (1000 * 60 * 60 * 24);

                if (diffInDays > 391) {
                    alert('report cannot be spooled for more than 31 days!!!');

                    return false;

                }



                debugger;

                $("#gateTableFilter").DataTable({
                    "ajax": {
                        "url": '@Url.Action("GetMaterialReport", "Home")',
                        "type": "GET",
                        data: {
                            //__RequestVerificationToken: token,
                            fromDate: fromDate,
                            toDate: toDate,
                            product: product,

                        },
                        "datatype": "json"

                    },

                    "columns": [
                        { data: "DELIVERY_NO" },
                        { "data": "DELIVERY_DOC_TYPE" },
                        { "data": "SALES_DOC_TYPE" },
                        { "data": "ATC" },
                        { data: "CUSTOMER_NAME" },
                        { "data": "PRODUCT" },
                        { "data": "UOM" },
                        {
                            "data": "DISPATCHED_DATE",                          
                                  "render": function (data) {
                                return moment(data).format('DD/MM/YYYY HH:mm');
                            }
                        },
                        {
                            "data": "TARETIME",
                            "render": function (data) {
                                return moment(data).format('DD/MM/YYYY HH:mm');
                            }
                        },
                        {
                            "data": "GROSS_TIME",
                            "render": function (data) {
                                return moment(data).format('DD/MM/YYYY HH:mm');
                            }
                        },
                        { "data": "WAYBILL" },
                        { "data": "TRUCK_NUMBER" },
                        { "data": "DRIVER" },
                        { "data": "TARE_WEIGHT" },
                        { "data": "GROSS_WEIGHT" },
                        { "data": "NET" },
                        { "data": "DESTINATION" },
                        { "data": "SENDER" },
                        { "data": "Truck_Status" },

                    ],

                    "dom": "Bfrtip",
                    "buttons": [

                        {
                            extend: 'excel',
                            text: '<i class="fa fa-file-excel-o"></i>DOWNLOAD IN EXCEL',
                            className: 'btn btn-danger'


                        }

                    ]



                });

            });


        });




    </script>

    <div class="container">
        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span>FILTER and SPOOL GATE REPORT</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" id="submit_form">
                    @Html.AntiForgeryToken()
                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">DATE FROM</label>
                            <div class="mws-form-item">
                                <input type="date" id="dateFrom" " class="large">
                            </div>
                        </div>

                    </div>

                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">DATE TO</label>
                            <div class="mws-form-item">
                                <input type="date" id="dateTo" " class="large">
                            </div>
                        </div>

                    </div>


                    <div class="mws-button-row">

                        <button id="btnSpool" class="btn btn-primary" type="button"><i class="fa fa-key"></i> GENERATE REPORT</button>


                    </div>
                </form>
            </div>
        </div>




        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span>Filters</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" action="form_layouts.html">

                    <fieldset class="mws-form-inline">
                    
                        @*<div class="mws-form-row bordered">
                            <label class="mws-form-label">Truck Status</label>
                            <div class="mws-form-item">
                                <select id="drpStatus" class="large">
                                    <option>-- select --</option>
                                    <option>Entry Allowed.</option>
                                    <option>Weigh-In Successful.</option>
                                    <option>Weighed Out Successfully</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>*@

                        
                        <div class="mws-form-inline">
                            <div class="mws-form-row bordered">
                                <label class="mws-form-label">Product</label>
                                <div class="mws-form-item">
                                    <input type="text" id="txtProduct" class="large">
                                </div>
                            </div>

                        </div>


                    </fieldset>
                 
                </form>
            </div>
        </div>




    </div>


    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>Gate Report</span>
        </div>
      
        <br />
        <br />
        <div class="mws-panel-body no-padding">
            <table border="1" width="100%" id="gateTableFilter" cellspacing="0" class="mws-datatable-fn mws-table">
                <thead>
                    <tr>
                        <th>delivery no</th>
                        <th>type</th>
                        <th>trx type</th>
                        <th>atc</th>
                        <th>customer</th>
                        <th>product</th>
                        <th>UoM</th>
                        <th>dispatched date</th>
                        <th>tare time</th>
                        <th>gross time</th>
                        <th>waybill</th>
                        <th>truck no</th>
                        <th>driver</th>
                        <th>tare</th>
                        <th>gross</th>
                        <th>net</th>
                        <th>destination</th>
                        <th>sender</th>
                        <th>truck status</th>
                    </tr>
                </thead>
                
            </table>

        </div>
    </div>
</body>


