
@{
    ViewBag.Title = "NotAllowed";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>You Do Not Have Approval Rights To Use That Page!!!!</h2>
<br />
<br />

<h4>Kindly Get Someone WHo Has Approval Rights on DDS To Make The Change</h4>

