
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>DDS-HELPER </h2>

@*<div align="center">

    <img src="~/front_template/HTML/images/welcome.gif" alt="welcome..." />
</div>*@
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

@*<div align="center">

    <img src="~/front_template/HTML/images/welcome-greetings.gif" alt="welcome..." />
</div>*@