
@{
    Layout = null;
    String roleP = "";


    if (Session["Role"].ToString() == "1")
    {
        roleP = "weighbridge";

    }
    if (Session["Role"].ToString() == "4")
    {
        roleP = "admin";

    }
    if (Session["Role"].ToString() == "3009")
    {
        roleP = "GAte Access";

    }
    if (Session["Role"].ToString() == "3010")
    {
        roleP = "Security Access";

    }
    if (Session["Role"].ToString() == "3011" || Session["Role"].ToString() == "3012" || Session["Role"].ToString() == "3013" || Session["Role"].ToString() == "3014" || Session["Role"].ToString() == "3015" || Session["Role"].ToString() == "3016")
    {
        roleP = "transport";

    }


}

<!DOCTYPE html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Viewport Metatag -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Plugin Stylesheets first to ease overrides -->
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">*@
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/plugins/colorpicker/colorpicker.css" media="screen">


    <!-- Required Stylesheets -->
    <!--<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen">-->
    <link href="~/front_template/HTML/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/fonts/ptsans/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/fonts/icomoon/style.css" media="screen">

    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/mws-style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/icons/icol16.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/icons/icol32.css" media="screen">

    <!-- Demo Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/demo.css" media="screen">

    <!-- jQuery-UI Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/jui/css/jquery.ui.all.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/jui/jquery-ui.custom.css" media="screen">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/mws-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/front_template/HTML/css/themer.css" media="screen">






    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



    @RenderSection("scripts", required: false)

    <title>OBJ HELPER</title>

</head>

<body>

    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {

            //if (Session["Role"] == "4") {
            //    $("receiver").hide();

            //}

        });

    </script>

   
    <!-- Header -->
    <div id="mws-header" class="clearfix">

        <!-- Logo Container -->
        <div id="mws-logo-container">

            <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
            <div id="mws-logo-wrap">
                <img src="~/front_template/HTML/images/DDS.png" />
            </div>


        </div>

        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" class="clearfix">

            <!-- Notifications -->
            <div id="mws-user-notif" class="mws-dropdown-menu">
                <a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-exclamation-sign"></i></a>

                <!-- Unread notification count -->
                <span class="mws-dropdown-notif">35</span>

                <!-- Notifications dropdown -->
                <div class="mws-dropdown-box">
                    <div class="mws-dropdown-content">
                        <ul class="mws-notifications">
                            <li class="read">
                                <a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                            <li class="read">
                                <a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                            <li class="unread">
                                <a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                            <li class="unread">
                                <a href="#">
                                    <span class="message">
                                        Lorem ipsum dolor sit amet
                                    </span>
                                    <span class="time">
                                        January 21, 2012
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="mws-dropdown-viewall">
                            <a href="#">View All Notifications</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Messages -->
            <div id="mws-user-message" class="mws-dropdown-menu">
                <a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-envelope"></i></a>

                <!-- Unred messages count -->
                <span class="mws-dropdown-notif">35</span>

               
            </div>

            <!-- User Information and functions section -->
            <div id="mws-user-info" class="mws-inset">

                <!-- User Photo -->
                @*<div id="mws-user-photo">
                        <img src="example/profile.jpg" alt="User Photo">
                    </div>*@

                <!-- Username and Functions -->
                <div id="mws-user-functions">
                    @*<div id="mws-username">
                            Hello, John Doe
                        </div>*@
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="~/Home/LogOff">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">

        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>

        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">

            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <!-- Searchbox -->
            @*<div id="mws-searchbox" class="mws-inset">
                    <form action="typography.html">
                        <input type="text" class="mws-search-input" placeholder="Search...">
                        <button type="submit" class="mws-search-submit"><i class="icon-search"></i></button>
                    </form>
                </div>*@

            <!-- Main Navigation -->
            <div id="mws-navigation">
                <ul>
                    @{ if (roleP == "weighbridge")
                        {
                            <li id="def"><a href="~/Home/Default"><i class="icon-newspaper"></i> ATC Grade</a></li>

                            <li id="receiver"><a href="~/Home/receiver"><i class="icon-home"></i> Receiver</a></li>
                            <li><a href="~/Home/Driver"><i class="icon-truck"></i> Driver</a></li>
                            <li><a href="~/Home/Destination"><i class="icon-hour-glass"></i> Destination</a></li>
                            <li><a href="~/Home/Trip_Validate"><i class="icon-key"></i> Trip Validate</a></li>
                            <li><a href="~/Home/AddOnlineTrip"><i class="icon-pie-chart"></i> Add Online Trip</a></li>
                            <li><a href="~/Home/Offline_Repush"><i class="icon-eye-open"></i> Repush ATC From Posting-Error</a></li>
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> STO TMS</a>
                                <ul>
                                    <li><a href="~/Home/STO_Modify">Modify Entry</a></li>
                                    @*<li><a href="form_elements.html">Elements</a></li>
                        <li><a href="form_wizard.html">Wizard</a></li>*@
                                </ul>
                            </li>

                            <li><a href="~/Home/Remove_TripID"><i class="icon-eye-open"></i> Remove Trip ID</a></li>

                            <li class="active">
                                <a href="#"><i class="icon-list"></i> GATE MODIFY</a>
                                <ul>
                                    <li><a href="~/Home/Gate_Modify">Gate Access Modif.</a></li>

                                </ul>
                            </li>


                            @*<li><a href="~/Home/TripCheck"><i class="icon-eye-open"></i> Check Trip Details</a></li>*@


                        }

                    }

                    @{ if (roleP == "admin")
                        {
                            <li id="def"><a href="~/Home/Default"><i class="icon-newspaper"></i> ATC Grade</a></li>

                            <li id="receiver"><a href="~/Home/receiver"><i class="icon-home"></i> Receiver</a></li>
                            <li><a href="~/Home/Driver"><i class="icon-truck"></i> Driver</a></li>
                            <li><a href="~/Home/Destination"><i class="icon-hour-glass"></i> Destination</a></li>
                            <li><a href="~/Home/Trip_Validate"><i class="icon-key"></i> Trip Validate</a></li>
                            <li><a href="~/Home/AddOnlineTrip"><i class="icon-pie-chart"></i> Add Online Trip</a></li>
                            <li><a href="~/Home/Offline_Repush"><i class="icon-eye-open"></i> Repush ATC From Posting-Error</a></li>
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> STO TMS</a>
                                <ul>
                                    <li><a href="~/Home/STO_Modify">Modify Entry</a></li>
                                    @*<li><a href="form_elements.html">Elements</a></li>
                        <li><a href="form_wizard.html">Wizard</a></li>*@
                                </ul>
                            </li>
                            <li><a href="~/Home/Remove_TripID"><i class="icon-eye-open"></i> Remove Trip ID</a></li>
                            <li><a href="~/Home/TripCheck"><i class="icon-eye-open"></i> Check Trip Details</a></li>
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> GATE MODIFY</a>
                                <ul>
                                    <li><a href="~/Home/Gate_Modify">Gate Access Modif.</a></li>

                                </ul>
                            </li>

                            //Reports
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> REPORTS</a>
                                <ul>
                                    <li><a href="~/Home/GateReport">Gate Reports</a></li>
                                    <li><a href="#">Gate Reports Test</a></li>
                                    <li><a href="~/Home/TripReport">Trip Report</a></li>

                                </ul>
                            </li>


                        }

                    }

                    @{ if (roleP == "transport")
                        {

                            <li><a href="~/Home/CancelTrip"><i class="icon-blocked"></i> Cancel DDS Trip ID</a></li>
                            @*<li><a href="~/Home/TripCheck"><i class="icon-eye-open"></i> Check Trip Details</a></li>*@
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> REPORTS</a>
                                <ul>

                                    <li><a href="~/Home/TripReport">Trip Report</a></li>

                                </ul>
                            </li>


                        }

                    }

                    @{ if (roleP == "Gate Access")
                        {

                            <li><a href="~/Home/CancelTrip"><i class="icon-blocked"></i> Cancel DDS Trip ID</a></li>
                            @*<li><a href="~/Home/TripCheck"><i class="icon-eye-open"></i> Check Trip Details</a></li>*@

                            <li class="active">
                                <a href="#"><i class="icon-list"></i> GATE MODIFY</a>
                                <ul>
                                    <li><a href="~/Home/Gate_Modify">Gate Access Modif.</a></li>


                                </ul>
                            </li>
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> REPORTS</a>
                                <ul>
                                    <li><a href="~/Home/GateReport">Gate Reports</a></li>


                                </ul>
                            </li>


                        }

                    }

                    @{ if (roleP == "Security Access")
                        {

                            <li><a href="~/Home/CancelTrip"><i class="icon-blocked"></i> Cancel DDS Trip ID</a></li>
                            @*<li><a href="~/Home/TripCheck"><i class="icon-eye-open"></i> Check Trip Details</a></li>*@

                            <li class="active">
                                <a href="#"><i class="icon-list"></i> GATE MODIFY</a>
                                <ul>
                                    <li><a href="~/Home/Gate_Modify">Gate Access Modif.</a></li>

                                </ul>
                            </li>
                            <li class="active">
                                <a href="#"><i class="icon-list"></i> REPORTS</a>
                                <ul>
                                    <li><a href="~/Home/GateReport">Gate Reports</a></li>


                                </ul>
                            </li>


                        }

                    }

                </ul>
            </div>
        </div>

        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">


            <!-- Inner Container End -->
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - DDS Helper OBJ</p>
                </footer>
            </div>
            <!-- Footer -->


        </div>
        <!-- Main Container End -->

    </div>



    <!-- JavaScript Plugins -->
    <!--<script src="js/libs/jquery-1.8.3.min.js"></script>-->


    @*<script src="~/front_template/HTML/js/libs/jquery-1.8.3.js"></script>*@
    <script src="~/front_template/HTML/js/libs/jquery.mousewheel.min.js"></script>
    <script src="~/front_template/HTML/js/libs/jquery.placeholder.min.js"></script>
    <script src="~/front_template/HTML/custom-plugins/fileinput.js"></script>

    <!-- jQuery-UI Dependent Scripts -->
    <script src="~/front_template/HTML/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="~/front_template/HTML/jui/jquery-ui.custom.min.js"></script>
    <script src="~/front_template/HTML/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="~/front_template/HTML/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="~/front_template/HTML/plugins/validate/jquery.validate-min.js"></script>

    <!-- Core Script -->
    <script src="~/front_template/HTML/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/front_template/HTML/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="~/front_template/HTML/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>

