<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>DDS HELPER - Error</h1>
        <h2>An error occurred or your session has timed out. Refresh and Login again!</h2>
        <br /><br />
        <img src="~/front_template/HTML/images/sadface.jpg" id="sadface" height="100" width="100" />
    </hgroup>
</body>
</html>
